@use "base/variables" as v;
@use "base/mixins" as m;

.no-proyectos {
  a {
    color: v.$indigo;
  }
}

.listado-proyectos {
  list-style: none;
  padding: 0;
  margin-top: 3rem;

  @include m.grid(1, 2rem);

  @include m.tablet {
    @include m.grid(2, 2rem);
  }

  @include m.desktop {
    @include m.grid(3, 2rem);
  }

  .proyecto {
    background-color: lighten(v.$indigo, 5%);
    min-height: 12rem;
    display: flex;
    align-items: center;
    padding: 2rem;
    line-height: 2;
    border-radius: 0.5rem;
    position: relative;

    // &:hover {
    //   background-color: darken(v.$indigo, 5%);
    // }

    a {
      color: v.$blanco;
    }

    button {
      padding: 0;
      border: none;
      display: flex;
      position: absolute;
      top: -0.5rem;
      right: -0.5rem;
      transition-property: background-color;
      transition-duration: 0.3s;
      border-radius: 50%;
      background-color: lighten(v.$rojo, 20%);

      &:hover {
        cursor: pointer;
        background-color: v.$rojo;
      }

      img {
        width: 3rem;
        height: 3rem;
        filter: invert(100%) sepia(0%) saturate(7493%) hue-rotate(336deg)
          brightness(106%) contrast(102%);
      }
    }
  }
}
