@use "base/variables" as v;
@use "base/mixins" as m;

.sidebar {
  display: none;
  background-color: v.$indigo;
  padding: 2rem;

  @include m.tablet {
    display: block;
  }

  h2 {
    color: v.$blanco;
    margin: 0;
    text-align: center;
  }

  .sidebar-nav {
    @include m.sidebarNav(5rem 0 0 0, 1rem, 0.7rem);
  }
}
